@import "./utils/variables";
@import "./base/reset";
@import "./base/typo";
@import "./layouts/header";
@import "./layouts/footer";
@import "./components/botones";
@import "./views/contacto";
@import "./views/especiales";
@import "./views/index";
@import "./views/menu";
@import "./views/promo";
@import "./views/registro";






  

 
  
 
  /* main */
 
  .img-main {
    width: 15rem;
    margin: auto;
    display: block;
  }
 
  .carousel-inner img {
   width: 50%;
   height: 300px;
  }
 
  
  
  /* footer */
 
  .footer {
    background-color: rgba(233, 150, 122, 0.479);
    padding: 15px;
    position: absolute;
    width: 100vw;
  }
 
  .footer__title {
    text-align: center;
    padding: 10px;
  }
 
  .footer__logo {
    display: flex;
    align-items: center;
    justify-content: center;
 
  }
 
  .footer__logo img {
    width: 40px;
  }