.button-border {
  border: 2px solid;
  color: transparent;
  border-radius: 10px;
}



.nav-item:hover {
  border: sienna 2px solid;
  background: white;
  color: sienna;
  border-radius: 10px;
}

.nav-white:hover {
  color: white;
}