.footer {
    background-color: rgba(233, 150, 122, 0.479);
    padding: 15px;
    position: absolute;
    width: 100vw;
  
  
  &__title {
    text-align: center;
    padding: 10px;
  }
  
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  &__logo img {
    width: 40px;
  }
}